@{
    ViewData["Title"] = "Stock Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a href="/admin/stock/create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Store
            </th>
            <th>
                Product
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.listStock)
        {
            <tr>
                <td>
                    <b>@item.StoreId</b> | @ViewBag.listStore[item.StoreId]
                </td>
                <td>
                    <b>@item.ProductId</b> | @ViewBag.listProduct[item.ProductId]
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    <a href="/admin/stock/edit?storeid=@item.StoreId&productid=@item.ProductId">Edit</a> | 
                    <a href="/admin/stock/delete?storeid=@item.StoreId&productid=@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    @{
        var pre = ViewBag.page - 1;
        var next = ViewBag.page + 1;

    }

    @if (ViewBag.numberPage > 1)
    {
        <ul class="pagination pagination-rounded mb-0">
            <li class="page-item">
                <a class="page-link" href="/admin/stock/index?page=@pre" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            @for (var i = 1; i < ViewBag.numberPage; i++)
            {
                @if (i == ViewBag.page)
                {
                    <li class="page-item active"><a class="page-link" href="/admin/stock/index?page=@i">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/admin/stock/index?page=@i">@i</a></li>
                }

            }
            <li class="page-item">
                <a class="page-link" href="/admin/stock/index?page=@next" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    }
</nav>
